body,
input,
textarea
  font-family: $main-font
  font-weight:  $font-normal

h1
  color: $main-light-color
  font-size: 60px
  line-height: 100%
  text-transform: uppercase

  & strong
    color: $main-color
